* {
    margin: auto;
}

.container {
    width: 100%;
    min-height: 1000px;
    background-image: conic-gradient(from -3.66deg at 50% 0%, #B8F6FF 0deg, rgba(196, 232, 246, 0.748059) 90.7deg, rgba(200, 227, 243, 0.659374) 122.63deg, rgba(226, 209, 232, 0.342452) 236.72deg, rgba(232, 189, 220, 0) 360deg);
}

.pagina {
    padding-top: 200px;
    height: 100px;
}

/* text */
h1 {
    text-align: center;
}

h5 {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

a, p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
}


/* menubalk voor navigatie */
.menu {
    position: fixed;
    display: block;
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 50px;
    width: 90%;
    
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr 1fr;

    border-radius: 30px;
    background-color: white;
    box-shadow: 7px 7px 7px rgba(215, 193, 224, 0.621);
}

.logo {
    position: absolute;
    margin-top: 16px;
    margin-left: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: medium;
    text-decoration: none;
    color: black;
}


/* navigatie knoppen */
.navb {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    min-width: 65px;
    width: auto;
    text-align: center;

    color: black;
    background-color: white;
    text-decoration: none;

    border-radius: 22px; 
    border-width: 5px 10px 0px 10px;
    border-style: solid;
    border-color: white;
}

.active{
    color: white;
    background-color: black;
    border-color: black;
} 

.navb:hover {
    color: white;
    background-color: rgb(177, 158, 231);
    border-color: rgb(177, 158, 231);
}

#home {
    grid-column-start: 3;
}

#werk {
    grid-column-start: 4;
}

#contact {
    grid-column-start: 5;
}


/* pagina inhoud */
.inhoud {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: .5fr 2fr 1.5fr .5fr;
}

#profile_pic {
    height: 400px;
    border-radius: 800px;
    grid-column-start: 2;
}

#intro {
    grid-column-start: 3;
}


/* werk pagina */
.werk_inhoud {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.card {
    box-shadow: 7px 7px rgb(168, 143, 178);
    min-height: 240px;
    min-width: 340px;
    text-align: center;

    color: black;
    background-color: white;
    text-decoration: none;

    border-color: white;
    border-radius: 22px; 
    border-width: 10px;
    border-style: solid;
}

.card:hover{
    background-color: rgb(177, 158, 231);
    border-color: rgb(177, 158, 231);
    box-shadow: 7px 7px black;
    color: white;
}

.cover {
    width: 340px;
    margin-top: 0px;
    border-radius: 12px;
}

.card_title {
    margin-top: 8px;
}

.jaar {
    color: rgb(125, 125, 125);
    opacity: 100%;
}

#muur {
    margin-top: 5px;
    grid-column-start: 2;
}

#scrollytelling {
    margin-top: 5px;
}

#groningen_spot {
    margin-top: 5px;
}

.announcement {
    grid-column-start: 2;

    min-height: 200px;
    min-width: 340px;
    text-align: center;

    padding-top: 20px;
    color: white;
    background-color: rgb(177, 158, 231);
    text-decoration: none;

    border-color: rgb(177, 158, 231);
    border-radius: 22px; 
    border-width: 10px;
    border-style: solid;
}


/*back button naar werk html*/
.bb {
    margin-top: 0;  
    grid-row-start: 1;
}

.back {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 5px;
    height: 20px;
    min-width: 65px;
    text-align: center;

    color: black;
    background-color: white;
    text-decoration: none;

    border-radius: 22px; 
    border-width: 5px 10px 0px 10px;
    border-style: solid;
    border-color: white;
}

.arrow {
    width: 15px;
    left: -2px;
}

.back:hover {
    background-color: rgb(78, 97, 24);
    border-color: rgb(78, 97, 24);
    filter: invert(100%);
}


/*binnen de pagia's over projecten*/
.text_1 {
    margin-top: 0;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.pic {
    grid-row-start: 3;
    max-width: 500px;
}

#p1 {
    grid-column-start: 2;
    grid-row-start: 3;
}

#p2 {
    grid-column-start: 2;
    grid-row-start: 4;
}

#p3 {
    grid-column-start: 2;
    grid-row-start: 5;
}

.text {
    grid-row-start: 3;
    grid-column-start: 3;
}


/*contact pagina*/
.inhoud_w {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: .8fr 2fr 1fr 1fr;
    grid-template-rows: .1fr .3fr 1fr 1fr;
    grid-gap: 20px;
}

.contact_info {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr 1fr;
}

#envelope {
    height: 280px;
    border-radius: 40px;
    opacity: 80%;
    grid-column-start: 2;
}

.titel_contact {
    grid-column-start: 4;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-top: 30px;
    font-size: 24px;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#mail {
    min-width: 150px;
    grid-row-start: 1;
}

#link1{
    grid-row-start: 1;
    box-shadow: 7px 7px rgb(168, 143, 178);

}

#li {
    grid-row-start: 3;
}

#link2{
    grid-row-start: 3;
    box-shadow: 7px 7px rgb(168, 143, 178);
    min-width: 130px;
}

#git {
    grid-row-start: 5;
}

#link3{
    grid-row-start: 5;
    box-shadow: 7px 7px rgb(168, 143, 178);
}

