@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

@font-face {
    font-family: 'Aileron';
    src: url('../fonts/aileron/aileron.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron semibold';
    src: url('../fonts/aileron/aileron.semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aileron bold';
    src: url('../fonts/aileron/aileron.bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: auto;
}

:root {
  color-scheme: light;
}

.container {
  width: 100%;
  min-height: 100vh;

  background-image:
    conic-gradient(
    from -3.66deg at 50% 0%,
    #B8F6FF 0deg,
    rgba(196, 232, 246, 0.55) 90.7deg,
    rgba(200, 227, 243, 0.65) 122.63deg,
    rgba(226, 209, 232, 0.40) 236.72deg,
    rgba(232, 189, 220, 0) 360deg);

  background-size: auto, 2px 2px;
  background-repeat: no-repeat, repeat;
}

/* .container::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mO8+Q8AAiUBfTt75lMAAAAASUVORK5CYII=');
    opacity: 0.05;
    z-index: 1;
} */

.pagina {
    padding-top: 18vh;
    padding-bottom: 140px;

    display: grid;
    grid-template-columns: 0.5fr minmax(200px, 6fr) 0.5fr;
    grid-template-rows: 200px auto;
    row-gap: 30px;
}

.pagina > * {
    grid-column: 2;
}

img {
  transform: translateZ(0);
  backface-visibility: hidden;
}


/* text */
h1 {
    font-family: 'Noto Serif', serif;
    text-align: center;
    color: #6A4C93;
    font-size: 64px;
}

h5 {
    font-family: 'Courier Prime', monospace;
    margin-top: 20px !important;
    font-size: 22px;
    text-align: center;
    color: #2d2d2d;
    font-weight: 400;
}

a, p {
    font-family: 'Aileron', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.top_tekst {
    text-align: center; 
}


/* menubalk voor navigatie */
.menu {
    position: fixed;
    display: block;
    align-content: center;

    top: 32px;
    left: 5%;
    right: 5%;
    min-height: 64px;
    
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    column-gap: 12px;
    padding-right: 20px;

    border-radius: 30px;
    background-color: white;
    box-shadow: 7px 7px 7px rgba(215, 193, 224, 0.621);

    z-index: 1000;
}

.logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: large;
    color: black;
}


/* navigatie knoppen */
.navb {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 25px;
    min-width: 80px;
    width: auto;

    font-family: 'Aileron semi-bold', sans-serif;
    text-align: center;
    align-content: center;

    color: black;
    background-color:#FDFDFE;
    text-decoration: none;

    border-radius: 22px; 
    padding: 8px 12px;
    border-color: #FDFDFE;

    transition: all 0.3s ease 0.05s;
}

.active{
    color: #FDFDFE;
    background-color: #6A4C93;
} 

.navb:hover {
    color: white;
    background-color: rgb(177, 158, 231);
}

#home {
    grid-column-start: 2;
}

/* 'over mij' opening naar werk */
#opening {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f9f9f9;
    width: 90%;

    border-radius: 22px;    
    box-shadow: 6px 6px rgb(177, 158, 231);
}

#opening *{
    font-family: 'Aileron', sans-serif;
    color: #6A4C93;
    padding: 20px;
}

#linko {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 10px;
    margin-bottom: 10px;

    background-color: #6A4C93;
    box-shadow: 4px 5px rgb(177, 158, 231);

    margin-top: 7px;
    padding: 10px 15px;
    border-radius: 30px;

    font-family: 'Aileron bold', sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;

    width: fit-content;
    white-space: nowrap;
}

#linko, 
#linko p, 
#linko span {
    font-family: 'Aileron bold', sans-serif;
    color: white;
}

#linko p {
    margin: 0;
    padding-right: 0;
    padding: 0;
}

#arro {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    padding-bottom: 1px;
    padding-right: 5px;

    width: 100%;
    height: auto;
    min-height: 20px;
    max-height: 80%;
    object-fit: contain;

    filter: invert(100%);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: center center;   
    transform-origin: center center;
}

#linko:hover{
    background-color: rgb(177, 158, 231);
    box-shadow: 4px 5px #6A4C93;
}

/* 'over mij' pagina inhoud */
.inhoud {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    padding: 20px;
}

#profile_pic {
    max-height: 450px;
    border-radius: 800px;
}

#intro {
    width: 90%;
    max-width: 420px;
    margin: 20px auto;
    align-content: center;
}

/*contact pagina*/
.contact_info {
  margin-top: 0;
  align-self: start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 30px;
  row-gap: 20px;
}

#envelope {
    height: 280px;
    border-radius: 40px;
    opacity: 95%;
    grid-row-start: 2;
}

.titel_contact {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
}

#c_title {
    min-width: 150px;
    margin-left: 0;
}

#linkc{
    display: inline-block;
    box-shadow: 4px 5px rgb(177, 158, 231);
    margin-right: 0;
    margin-top: 7px;
    padding: 7px 15px 7px 15px;
    border-radius: 30px;

    border: 20px #FDFDFE;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    width: fit-content; 
    min-width: max-content;
}

#linkc:hover{
    color: white;
    box-shadow: 4px 5px #6A4C93;
}

/* werk pagina */
.werk_inhoud {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  justify-content: center;
}

.announcement {
    color: white;
    text-decoration: none;
    background-color: #6A4C93;
    align-content: center;
    padding: 15px 40px 25px 40px;

}

.announcement, .box_card {
    min-height: 260px;
    max-width: 420px; 
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 22px; 
    text-align: center;
    padding: 15px;
}

/* .card:hover{
    background-color: rgb(177, 158, 231);
    box-shadow: 7px 7px #6A4C93;
    color: white;
} */


.box_card {
    background-color: #f9f9f9;
    box-shadow: 6px 6px rgb(177, 158, 231);

    font-family: 'Aileron bold', sans-serif;
    color: black;
    text-decoration: none;
    position: relative;
    border-radius: 24px;

    transition: all 0.3s ease 0.05s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box_card:hover{
    background-color: rgb(177, 158, 231);
    box-shadow: 7px 7px #6A4C93;
    color: white;
}

.card {
    font-family: 'Aileron bold', sans-serif;
    color: black;
    text-decoration: none;

    transition: all 0.3s ease 0.05s;
}

.cover {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

.card_title {
    display: flex;
    flex-direction: column;
    
    height: 40px;
    font-family: 'Aileron bold', sans-serif;
    font-weight: normal;
    text-decoration: none;
    margin-top: 20px;
}

.jaar {
    color: #5C5C5C;
    opacity: 100%;
}

/*back button naar werk html*/

#back {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 25px;
    min-width: 75px;
    text-align: center;

    color: black;
    background-color: white;
    text-decoration: none;

    border-radius: 40px; 
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: white;
}

.arrow {
    width: 20px;
    left: 2px;
}

#back:hover {
    background-color: rgb(78, 97, 24);
    border-color: rgb(78, 97, 24);
    filter: invert(100%);
}


/*binnen de pagia's over projecten*/
.inhoud_w {
    grid-column: 2;
    width: 100%;
    justify-self: stretch;
    margin-top: 20px;
    padding: 0 20px;

    display: grid;
    grid-template-columns: .8fr 4fr;
    grid-auto-rows: minmax(50px, auto);
    row-gap: 30px;
}

.text_1 {
    grid-column: 1 / -1;
    max-width: 700px;
    text-align: left;
    justify-self: center;

    font-family: 'Aileron', sans-serif;
    font-weight: normal;
}

.text_2 {
    grid-column: 1 / -1;
    justify-self: start;
    text-align: left !important;
    left: 0;
    margin: 20px;
    max-width: 100%; 
    
    font-family: 'Aileron', sans-serif;
    font-weight: normal;
}

.pic_big {
    max-width: 500px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.banner {
    grid-column-start: 1;
    grid-column-end: 4;
    height: auto;
    max-width: 100%;
    object-fit: cover; 
}

.collage {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 10px;
    gap: 20px;
    margin: 0 auto;
}

.collage section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.workpic {
    width: 100%;
    height: auto;
    max-width: 500px;
    max-height: 400px;
    border-radius: 8px;
    object-fit: contain;
    background-color: rgba(177, 158, 231, 0.448);
    overflow: hidden;
    display: block; 
}

.widepic {
    grid-column: span 2;
    width: 100%;
    height: auto;
    max-width: none;
    border-radius: 16px;
    background-color: rgba(177, 158, 231, 0.448);
}

.lilpic {
    width: 40%;
    height: auto;
    max-width: none;
    border-radius: 4px;
    padding: 10px;
}

/*Tekeningen pagina*/
.grid_image {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;

    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.tekening {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover; 
    grid-column: 1;
}

.whale {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover; 
}


/*content aanpassingen groote window*/
@media (max-height: 650px) {
    .pagina {
        padding-top: 20vh;
    }
}

@media (max-width: 450px) {
    a, p {
        font-size: 14px;
    }

    h5 {
        margin-top: -8px !important;
    }

    .navb {
        min-width: 65px;
        padding: 10px 10px;
        text-align: center;
    }

    .pagina {
        row-gap: 30px;
    }

    #profile_pic {
        height: 220px;
    }

    #intro {
        margin: 0;   
    }

    #opening {
        margin: 5% !important;
    }

    .announcement, .box_card {
        margin: 5px;
        min-height: 200px;
        max-width: 300px; 
    }

    .collage {
        grid-template-columns: 1fr;
    }

    .widepic {
    grid-column: span 1;
    }
}

@media (max-width: 520px) {
    h1 {
        font-size: 36px;
        padding: 10px;
    }

    h5 {
        margin-top: 8px;
        font-size: 18px;
        padding: 10px;
        max-width: 320px;
    }
    
    .menu {
        position: absolute;
        top: 3%;
        min-width: 275px;
    }

    .pagina {
        grid-template-columns: 1fr;
    }

    .pagina > * {
        grid-column: 1;
    }  

    .werk_inhoud {
        grid-template-columns: 1fr;
        padding: 15px;
        row-gap: 15px;
    }

    .inhoud_w {
        width: 85%;
        justify-content: center;
    }

}

@media (max-width: 600px) {
    .contact_info {
        margin: 10px;
    }

    .titel_contact {
        grid-template-columns: 1fr;
        row-gap: 8px;
    }

    #c_titile, #linkc{
        margin-top: 0px;
        margin-bottom: 40px;
        margin-left: 0;
    }

    #envelope {
        height: 160px;
        border-radius: 10px;
    }
}

@media (max-width: 666px) {
    h1 {
        font-size: 36px;
        padding: 10px;
    }
    
    .pagina {
        grid-template-rows: 160px auto;
        padding-top: 24vh;
    }

    .menu {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
    }

    .logo { 
        margin-left: 10;
    }

    #home { 
        grid-column-start: 2;
        grid-row-start: 2;
    }
       
    #werk { 
        grid-column-start: 3;
        grid-row-start: 2;
    }
    
    #contact { 
        grid-column-start: 4;
        grid-row-start: 2;
    }
}

@media (min-width: 800px) {
    .werk_inhoud {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 800px) {
    #opening {
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .inhoud {
        grid-template-columns: 1fr;
    }

    #intro {
        padding-top: 50px;
    }

    .grid_image {
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .whale {
        grid-column: auto;
    }
}

@media (min-width: 1200px) {
    .werk_inhoud {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1200px) {
    .contact_info {
        grid-template-columns: 1fr;
    }

    .titel_contact {
        max-width: 450px;
    }
}

@media (min-width: 1500px) {
    h1 {
        font-size: 92px;
    }

    h5 {
        font-size: 30px;
    }
    
    p, a {
        font-size: 18px;
    }

    .menu {
        grid-template-columns: 16fr 1fr 1fr 1fr;
        min-height: 80px;
        border-radius: 60px;
    } 

    .logo {
        margin-top: 25px;
        margin-left: 50px;
        font-size: xx-large;
    }

    .navb {
        width: auto;
        min-width: 150px;
        min-height: 40px;
        border-radius: 50px;
        align-items: center;
    }

    .box_card {
        min-height: 340px;
    }

    .card {
        margin-top: 0;
    }

    #arro {
        margin: 5px;
    }

    #envelope {
        height: 500px;
    }

    .titel_contact {
        font-size: 30px;
    }
}

/* Force look in dark mode */
@media (prefers-color-scheme: dark) {
    body, .container, .pagina, .menu, .logo, .navb, .active, .inhoud,
    #opening, #opening *, #profile_pic, #intro,
    .contact_info, #envelope, .titel_contact, #c_title, #linkc, #link2,
    .werk_inhoud, .announcement, .card, .cover, .card_title, .jaar,
    .bb, .back, .arrow, .text_1, .pic, #p1, #p2, #p3, .text, .inhoud_w,
    h1, h5, a, p {
        background-color: initial;
        color: initial;
        border-color: initial;
        box-shadow: initial;
    }

    h1 {
        color: #6A4C93 !important; 
    }
    
    h5 { 
        color: #2d2d2d !important; 
    }

    body {
        background-color: white;
        color: black;
    }

    .container {
    background-image: conic-gradient(
        from -3.66deg at 50% 0%, 
        #B8F6FF 0deg, rgba(196, 232, 246, 0.748059) 90.7deg, 
        rgba(200, 227, 243, 0.659374) 122.63deg, 
        rgba(226, 209, 232, 0.342452) 236.72deg, 
        rgba(232, 189, 220, 0) 360deg),
        radial-gradient(circle at center, rgba(255,255,255,0.02), transparent 70%)!important;    
    }

    .menu {
        background-color: white;
        box-shadow: 7px 7px 7px rgba(215, 193, 224, 0.621);
    }

    .navb {
        background-color: #FDFDFE;
        color: black;
        border-color: #FDFDFE;
    }

    .active {
        background-color: #6A4C93;
        color: #FDFDFE;
        border-color: #6A4C93;
    }

    #opening {
        background-color: #f9f9f9 !important;
        box-shadow: 6px 6px rgb(177, 158, 231) !important;
    }

    #opening * {
    color: #6A4C93;
    }

    #linko {
        background-color: #6A4C93;
        box-shadow: 4px 5px rgb(177, 158, 231);
        color: white;   
    }

    .announcement {
        background-color: #6A4C93;
        color: white;
        border-color: #6A4C93;
    }

    .box_card {
        background-color: #f9f9f9;
        border-color: #f9f9f9;
        box-shadow: 6px 6px rgb(177, 158, 231);
        color: black;
    }

    .box_card:hover {
        background-color: rgb(177, 158, 231);
        border-color: rgb(177, 158, 231);
        box-shadow: 7px 7px #6A4C93;
        color: white !important;
    }

    .back {
        background-color: white;
        color: black;
        border-color: white;
    }

    .back:hover {
        background-color: rgb(78, 97, 24);
        border-color: rgb(78, 97, 24);
        filter: invert(100%);
    }

    #linkc{
        box-shadow: 4px 5px rgb(177, 158, 231);
        background-color: white;
        color: black;
    }

    #linkc:hover {
        background-color: rgb(177, 158, 231);
        box-shadow: 4px 5px #6A4C93;
    }
}
